@use "./abstracts/mixins";

:root {
  font-family: var(--font);
  color: var(--white);
  font-size: var(--p);
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  .noscroll {
    overflow: hidden;
  }

  body {
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    @include mixins.scrollbar();
    height: 100%;
    background-color: var(--black2-800);
  }

  p {
    font-size: var(--p);
    font-weight: 400;
  }

  h1 {
    font-size: var(--h1);
    font-weight: 400;
  }

  h2 {
    font-size: var(--h2);
    font-weight: 400;
  }

  h3 {
    font-size: var(--h3);
    font-weight: 400;
  }

  h4 {
    font-size: var(--h4);
    font-weight: 400;
  }

  i {
    font-style: italic;
    font-weight: 300;
  }

  a {
    font-family: var(--font);
  }

  .main-block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 1200px) {
      margin: 0 24px 0 0;
    }

    @media screen and (max-width: 1000px) {
      margin: 0 10px 0 0;
    }

    @media screen and (max-width: 950px) {
      padding: 195px 0 0 0;
      margin: 0 auto;
      max-width: calc(100% - 40px);
    }

    @media screen and (max-width: 550px) {
      padding: 210px 0 0 0;
    }
  }
}
