:root {
  --black2-800: #0f0f0f;
  --black2-900: #0c0c0c;
  --black2-100: #b9b9b9;
  --black-400: #5e5e5e;
  --black-500: #363636;
  --black-700: #272727;
  --black-800: #1e1e1e;
  --white: #ffffff;
}
